@import "https://litespeedui.netlify.app/components/components.css";
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");

.App {
  font-family: "Inter", sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

/* top bar/header */
.top-header {
  background-color: var(--menu-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-family: "Parisienne", sans-serif;
  font-size: 2.5rem;
  color: var(--clr-primary);
  padding: 0 1rem;
}

.theme-profile-ctn {
  display: flex;
  align-items: center;
  padding-right: 3rem;
}

.theme-icon {
  padding-right: 2rem;
}

.avatar-ctn {
  width: 2.5rem;
  height: 2.5rem;
  overflow: hidden;
}

.app-ctn {
  display: grid;
  grid-template-columns: 1fr 7fr;
}

/* left side menu */
.side-menu {
  display: flex;
  flex-direction: column;
  background-color: var(--menu-background);
  height: calc(100vh - 4rem);
}

.menu-ctn {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.menu-link {
  display: flex;
  align-items: center;
  padding: 1rem;
  color: var(--text-color);
}

.menu-link:hover {
  background-color: var(--menu-hover);
}

.menu-icon {
  padding: 0 1rem;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: var(--text-color);
  padding: 2rem 0;
}

footer .footer-links a {
  color: var(--clr-primary);
  padding-right: 14px;
  font-size: 1.5rem;
}

footer p.copyright {
  font-size: 14px;
}

/* notes */
.search-bar {
  display: flex;
  align-items: center;
  border: 2px solid var(--input-border);
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  margin: 1rem auto;
  padding: 5px;
}

.search-icon,
.filter-icon {
  padding: 0 8px;
}

input.search-input {
  border: none;
  background-color: transparent;
  width: 100%;
}

.notes-ctn {
  background-color: var(--body-background);
}

.all-notes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
}

.note {
  border: 1px solid var(--input-border);
  border-radius: 8px;
  position: relative;
  max-width: 600px;
  width: 100%;
}

.labels-ctn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 2rem 0 1rem;
}

.label-chip {
  padding: 2px 5px;
  font-size: 14px;
  background-color: var(--menu-hover);
}

.note-option-ctn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.note-date {
  font-size: 14px;
}

.unpin-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.note-option {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon-hover {
  padding: 0.5rem;
}

.icon-hover:hover {
  background-color: var(--menu-hover);
}
