.light-theme {
  --menu-background: #f7f7f7;
  --body-background: #f2f2f2;
  --text-color: #282828;
  --menu-hover: #dee2e6;
  --priority-background: #ede9fe;
  --profile-ctn-background: #fff;
  --empty-template-color: #9aa0a6;
}
